NEXTAUTH_SECRET=change-this-secret-in-production
NEXTAUTH_URL=http://localhost:3000
AUTH_USERNAME=admin
AUTH_PASSWORD=admin123
NEXT_PUBLIC_SUPABASE_URL=https://rbingozcoqvnqomeaaun.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_DEFAULT_KEY=sb_publishable_pD6zmDSAs3HxHGDK7hllbQ_R_7tDd9H
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
